
/* ----- WP Stuff ----- */
.alignleft {
  position: relative;
  float: left;
  text-align: left;
  margin: 0 1rem 1rem 0;
}

.alignright {
  position: relative;
  float: right;
  text-align: right;
  margin: 0 0 1rem 1rem;
}

.aligncenter {
  clear: both;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.wp-caption-text {
  font-size: 65%;
  font-family: "Open Sans", sans-serif;
  color: #666666;
}

/* ----- structure ----- */
html, body { height: 100%; }

body {
  font: normal 112.5%/1.65 "Droid Serif", georgia, serif;
  color: #999999;
}

header {
  margin: 0 auto;
  max-width: 40em;
  text-align: left;
  padding: 0.5rem 1rem;
  border-bottom: 2px solid #f5f5f5;
  font-family: "Open Sans", sans-serif;
  color: #999;
  *zoom: 1;
}
header:before, header:after {
  content: " ";
  display: table;
}
header:after {
  clear: both;
}

section {
  margin: 3rem auto 0 auto;
  max-width: 40em;
  text-align: left;
  padding: 0 1rem;
}

article {
  margin-bottom: 3rem;
}

/* footer */

footer {
  padding: 0 1rem 1rem;
  background: #f5f5f5;
  border-top: 4px solid #168eba;
  color: #666666;
}
footer section {
  margin: 0;
  padding: 0.5rem 0 1rem;
  border-bottom: 2px solid #cccccc;
}

#container {
  position: relative;
  min-height: 100%;
  overflow: hidden;
  width: 100%;
}

#navwrap {
  position: absolute;
  top: 0;
  right: -13.1em;
  overflow: hidden;
  z-index: 999999;
  width: 13em;
  background-color: #222;
  color: #fff;
  min-height: 100%;
  padding: 1rem 0 0;
  font-family: "Open Sans", sans-serif;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
  -webkit-transition: right 0.25s ease-in;
  -moz-transition: right 0.25s ease-in;
  transition: right 0.25s ease-in;
}
#navwrap.sidebar {
  right: 0px;
  -webkit-transition: right 0.25s ease-out;
  -moz-transition: right 0.25s ease-out;
  transition: right 0.25s ease-out;
}

#page {
  position: relative;
  min-height: 100%;
  margin-right: 0px;
  overflow: hidden;
  border-top: 4px solid #168eba;
  -webkit-transition: margin-right 0.2s ease-out;
  -moz-transition: margin-right 0.2s ease-out;
  transition: margin-right 0.2s ease-out;
}

/* ----- site wide navigation ----- */
.title {
  display: block;
  float: left;
}

.logo {
  display: block;
  width: 150px;
  height: 52px;
}

.description {
  display: block;
  text-align: center;
  font-size: 65%;
}

.toggle {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 65%;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  padding: 1rem 0.5rem;
}

/* sidebar nav */

#navwrap {
  text-align: left;
  line-height: 1;
}
#navwrap h4 {
  color: #fff;
  padding: 0 0.75rem 0.5rem;
  margin: 0;
}
#navwrap a {
  text-decoration: none;
}
#navwrap ul {
  display: block;
  margin: 0;
  padding: 0 0.75rem 1rem;
}
#navwrap li a {
  display: block;
  padding: 0.25rem 0;
}

#postnav {
  margin-top: 1rem;
}

/* ----- custom typography ------ */

h1 a, h2 a {
  color: #3d3d3d;
}
h1 a:hover, h2 a:hover {
  color: #666666;
}

h3#comments {
  margin-top: 3rem;
}

h4.cat-title {
  color: #999999;
}

::-moz-selection, ::selection {
  background: #168eba;
  color: #fff;
  text-shadow: none;
}

a {
  color: #168eba;
  -webkit-transition: color 0.6s ease;
  -moz-transition: color 0.6s ease;
  transition: color 0.6s ease;
}
a:hover {
  color: #08384a;
}

img {
  max-width: 100% !important;
  height: auto;
}

section img {
  margin-bottom: 1.5rem;
  border-radius: 0.25rem;
}

blockquote {
  margin: 0 0 1.5rem 0;
  padding: 0 1.5rem;
  border-left: 2px solid #168eba;
}

cite {
  font-style: normal;
}

pre {
  color: #fff;
  background: #3d3d3d;
  border-radius: 0.25rem;
}

hr {
  border-top: 2px solid #cccccc;
  height: 2px;
  margin-bottom: 1.5rem;
}

/* footer */
footer h4 {
  margin: 0;
  padding: 0.5rem 0;
  color: #999999;
  text-transform: uppercase;
}
footer ul {
  font-family: "Open Sans", sans-serif;
}
footer a {
  text-decoration: none;
}
footer a:hover {
  color: #cccccc;
}
footer p {
  color: #999999;
}

/* article */
article ul, article ol {
  margin: auto auto 1.5em;
}
article p ul, article p ol {
  margin: auto;
}
article ul li {
  list-style: circle inside;
}
article ol li {
  list-style: decimal inside;
}
article p img {
  margin: 0;
}
article blockquote p {
  padding: 0;
  font-style: italic;
}
article .searchterm {
  padding: 0 0.25rem 0.25rem 0.25rem;
  border-radius: 0.25rem;
  background: #d0e8f1;
}

.wp-caption img {
  margin-bottom: 0.25rem;
}

.thumb img {
  float: right;
  margin: 0 0 0.5rem 0.5rem;
  border-radius: 50px;
  width: 50px;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.post-edit-link {
  color: #cccccc;
  font-weight: 400;
  text-decoration: none;
}

.more {
  margin-top: -0.5rem;
  font-family: "Open Sans", sans-serif;
}
.more a {
  text-decoration: none;
}

/* ----- forms ----- */
#navwrap form {
  margin: 1rem 0.75rem 0 0.75rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  background: #333;
}
#navwrap input {
  background: transparent;
  color: #fff;
  font-size: 65%;
}

/* ----- media queries ----- */

@media screen and (min-width: 55em) {
  #navwrap {
    right: 0;
    padding: 2rem 0 0;
    box-shadow: none;
  }

  #page {
    margin-right: 13em;
  }

  .x, .toggle {
    display: none;
  }

  header {
    padding: 3rem 2rem 1rem;
  }

  section {
    padding: 0 2rem;
  }

  article ul li {
    list-style: circle outside;
  }
  article ol li {
    list-style: decimal outside;
  }

  .description {
    font-size: 100%;
  }

  footer {
    padding: 0 2rem 1rem;
  }

  .thumb img {
    margin: 0 0 1.5rem 1.5rem;
    border-radius: 100px;
    width: 100px;
  }
}
